<% unless comment.archived? %>
  <article>
    <p>
      <strong>Commenter:</strong>
      <%= comment.commenter %>
    </p>
    <p>
      <strong>Comment:</strong>
      <%= comment.body %>
    </p>
    <footer>
      <p>
        <%= link_to "Delete", [comment.article, comment], data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, role: "button" %>
      </p>
    </footer>
  </article>
<% end %>
